.inbox {
  width: 90%;
  height: 90%;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: 1fr 500px;
  border: solid 3px #c1ceb5;
  border-top: none;
  border-top-right-radius: 1.5%;
  border-top-left-radius: 1.5%;
  background-image: linear-gradient(to bottom, #9fc1771c 3%, #9fc177 14%, #9fc177 74%, #9fc177 74%); }

@media (max-width: 768px) {
  .inbox {
    grid-template-rows: 1fr 375px; } }

@media (max-width: 460px) {
  .inbox {
    grid-template-rows: 60px;
    position: relative; } }
