.unread {
  width: 96%;
  height: 90%;
  display: grid;
  align-self: center;
  justify-self: center;
  border: solid 2px #ccc; }

@media (max-width: 460px) {
  .unread {
    height: 82%;
    position: absolute;
    align-self: end; } }
