.displayedDays {
  display: grid;
  flex-direction: row;
  justify-items: center;
  align-items: center; }
  .displayedDays .row {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex; }
    .displayedDays .row > div {
      flex: 1;
      height: 100%; }
  .displayedDays .inactive {
    color: #7e7e7e; }
