.compose {
  * {
    padding: 0;
    margin: 0;
  }
  width: 96%;
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 9fr;
  align-self: center;
  justify-self: center;
  border: solid 2px #ccc;
  &__actions {
    width: 100%;
    height: 100%;
    display: flex;
    border-bottom: solid 1px #ccc;
    &__new {
      padding: 0 1rem;
      color: #252525;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      text-shadow: 0 0 2px #ccc;
      border: none;
      background-color: #9fc177;
      cursor: pointer;
    }
  }
  &__messageBody {
    display: none;
    flex-direction: column;
    position: relative;
    &__recipient {
      margin: 1rem;
      display: flex;
      .recipient__text {
        font-size: 1rem;
        margin-right: 0.25rem;
        color: #252525;
      }
      .recipient__input {
        font-size: 1.1rem;
        background-color: #cad8bb;
        border: none;
      }
    }

    &__form {
      width: 100%;
      height: 95%;
      &__message {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        align-self: center;
        border: none;
        resize: none;
      }
      &__send {
        width: 4rem;
        height: 2rem;
        justify-self: end;
        position: absolute;
        bottom: 0.25rem;
        right: 0.25rem;
        color: rgb(17, 83, 0);
        font-weight: 600;
        background-color: #c6c0c0;
        border: none;
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }
  &__sent {
    display: none;
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 460px) {
  .compose__messageBody__recipient {
    flex-direction: column;
  }
}
