.compose {
  width: 96%;
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 9fr;
  align-self: center;
  justify-self: center;
  border: solid 2px #ccc; }
  .compose * {
    padding: 0;
    margin: 0; }
  .compose__actions {
    width: 100%;
    height: 100%;
    display: flex;
    border-bottom: solid 1px #ccc; }
    .compose__actions__new {
      padding: 0 1rem;
      color: #252525;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      text-shadow: 0 0 2px #ccc;
      border: none;
      background-color: #9fc177;
      cursor: pointer; }
  .compose__messageBody {
    display: none;
    flex-direction: column;
    position: relative; }
    .compose__messageBody__recipient {
      margin: 1rem;
      display: flex; }
      .compose__messageBody__recipient .recipient__text {
        font-size: 1rem;
        margin-right: 0.25rem;
        color: #252525; }
      .compose__messageBody__recipient .recipient__input {
        font-size: 1.1rem;
        background-color: #cad8bb;
        border: none; }
    .compose__messageBody__form {
      width: 100%;
      height: 95%; }
      .compose__messageBody__form__message {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        align-self: center;
        border: none;
        resize: none; }
      .compose__messageBody__form__send {
        width: 4rem;
        height: 2rem;
        justify-self: end;
        position: absolute;
        bottom: 0.25rem;
        right: 0.25rem;
        color: #115300;
        font-weight: 600;
        background-color: #c6c0c0;
        border: none;
        border-radius: 2px;
        cursor: pointer; }
  .compose__sent {
    display: none;
    align-self: center;
    justify-self: center; }

@media (max-width: 460px) {
  .compose__messageBody__recipient {
    flex-direction: column; } }
