.todos {
  width: 90%;
  height: 300px;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-self: center;
  align-self: end;
  position: absolute;
  border: solid 3px rgb(193, 206, 181);
  border-radius: 6px;
  background-color: rgba(167, 199, 136, 0.747);
}
