.main {
  position: relative;
  width: 96%;
  height: 100vh;
  display: grid;
  justify-self: center;
  align-self: center;
  border: solid 1px #cccccc;
  border-radius: 10px;
  background-color: rgba(124, 124, 124, 0.411); }
