.main {
  position: relative;
  width: 96%;
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.36fr 2fr;
  justify-self: center;
  align-self: center;
  border: solid 1px #cccccc;
  border-radius: 10px;
  background-color: rgba(124, 124, 124, 0.411); }
