.todos {
  width: 90%;
  height: 300px;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-self: center;
  align-self: end;
  border: solid 3px #c1ceb5;
  border-radius: 6px;
  background-color: rgba(167, 199, 136, 0.747); }

@media (max-width: 768px) {
  .todos {
    height: 240px; } }

@media (max-width: 460px) {
  .todos {
    height: 250px;
    align-self: center; } }

@media (max-width: 374px) {
  .todos {
    height: 200px;
    margin-top: 0.5rem; } }
