.weather {
  width: 90%;
  height: 70%;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  border: solid 3px rgb(193, 206, 181);
  border-radius: 6px;
  background-color: rgba(167, 199, 136, 0.747);
}
