@import url("https://fonts.googleapis.com/css?family=Graduate");
@import url("https://fonts.googleapis.com/css?family=K2D");
@import url("https://fonts.googleapis.com/css?family=Poppins|Oswald");
.App {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  background-position: center; }
