.contacts {
  width: 90%;
  height: 90%;
  justify-self: center;
  align-self: center;
  display: block;
  background-color: #9fc177;
  border: solid 2px #ccc;
  overflow-y: scroll;
  &__displayedConacts {
    display: grid;
    grid-auto-rows: 100px;
    border: solid 2px #ccc;
  }
  &__addPerson {
    width: 100%;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    color: #1d3900;
    font-weight: 600;
    background-color: #a3b390;
    border-bottom: solid 2px #ccc;
    cursor: pointer;
  }
}
