.currencies {
  width: 90%;
  height: 70%;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-self: center;
  border: solid 3px #c1ceb5;
  border-radius: 6px;
  background-color: rgba(167, 199, 136, 0.747); }

@media (max-width: 460px) {
  .currencies {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: baseline;
    height: 90%; } }

@media (max-width: 374px) {
  .currencies {
    align-self: baseline;
    height: 93%; } }
